.checkoutProduct {
	display: flex;
	align-items: center;
	padding: 20px;
}

.checkoutProduct__image {
	width: 180px;
	height: 180px;
	object-fit: contain;
}
.checkoutProduct__info {
	padding-left: 30px;
}
.checkoutProduct__info > button {
	background-color: rgb(231, 218, 33);
	border: 1px solid rgb(197, 149, 17);
	padding: 5px;
	border-radius: 5px;
}
